<!DOCTYPE html>
{% load static %}
{% load main_tags %}
{% get_books as books %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/mybase.css' %}">
    <title>BOOK TIME</title>
</head>
<body>
<header>
  <div class="logo">BOOK <font color="#9F4636">TIME</font></div>
  <nav>
  <ul>
<li><a class="navbox" href="#">КНИГИ</a></li>
<li><a class="navbox" href="#">АВТОРЫ</a></li>
<li><a class="navbox" href="#">ЖАНРЫ</a></li>
<li><a class="navbox" href="#">ПОДБОРКИ</a></li>
  </ul>
  </nav>
</header>

    {% block content %}
    {% endblock content %}
</body>
</html>