<!DOCTYPE html>
{% load static %}
{% load main_tags %}
{% get_books as books%}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/mybase.css' %}">
    <title>BOOK TIME</title>
</head>
<body>
<header>
  <a href="{% url 'main:home' %}"><div class="logo">BOOK <font color="#9F4636">TIME</font></div></a>
  <nav>
  <ul>
<li><a class="navbox" href="{% url 'main:books' %}" >КНИГИ</a></li>
<li><a class="navbox" href="{% url 'main:authors' %}">АВТОРЫ</a></li>
<li><a class="navbox" href="{% url 'main:genres' %}">ЖАНРЫ</a></li>
  </ul>
  </nav>
</header>

    {% block content %}
    {% endblock content %}
<div>
        <ul>
            {% for page in paginator.page_range %}
                <li>
                <a href="?page={{ page }}">{{ page }}</a>
                </li>
            {% endfor %}
        </ul>
        </div>
</body>
</html>