@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: #FAF9F7;
}

a:visited {
  color: black;
}
a:hover {
  color: #6C2D2C;
}
header {
  min-height: 30px;
  padding: 10px 25px 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.logo{
color: #000011;
text-shadow: 0 1px 0 #333232;
font-size: 25px;
font-family: "Roboto";
font-weight: bold;
}

ul{
  display: flex;
}
.navbox {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 15px;
}

@media screen and (max-width:800px){

nav{
  display: block;
max-width:815px;
position: fixed;
width: 100%;
height: 100vh;
top: 0;
right: -100%;
text-align: center;
padding: 100px 0;
}
ul{
flex-direction: column;
}
.navbox{
padding: 15px;
}
.navbox:hover{
  color: yellow;
}
}

<!-- -->
.book_of_the_day {
  display: flex;
  align-items: center;
  width: 100%;
  height: 450px;
  margin-bottom: 50px;
}

.text_block_book_of_the_day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48px;
  height: 450px;
  padding-left: 45px;
}
.main_block1_text {
  display: flex;
  white-space: nowrap;
  font-size: 48px;
  transform: rotate(90deg);
}
.vr_line {
  display: flex;
  position: relative;
  top: -5%;
  left: 50%;
  border-left: black 3px solid;
  width: 1px;
  height: 150px;
}

.image_book_block {
  display: flex;
margin-left: 50px;
  height: 450px;
  width: 330px;
}

.border_image {
  position: absolute;
  top: 115px;
  height: 400px;
  width: 300px;
  border: black 1px solid;
}

.image_book {
  position: relative;
  top: -6%;
  left: 8%;
  height: 400px;
  width: 300px;
box-shadow: -12px 10px 0 2px #F24822;
}
.image_book img {

  height: 400px;
  width: 300px;
  object-fit: cover;
}

.about_book_of_the_day {
  flex-wrap: wrap;
  width: 600px;
  height: 450px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}


.name_book {
  font-size: 40px;
  color: #F24822;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 10px;
}
.author {
font-size: 30px;
  color: #231C1C;
  text-transform: uppercase;
  white-space: nowrap;
}
.description_book {
  width: 540px;
  margin-top: 40px;
  text-align: justify;
  background-color: #231C1C;
  color: #FAF9F7;
  padding: 20px;
  box-shadow: 10px 10px 0 3px #F24822;
}

.button_download {
  background-color: #231C1C;
  color: #FAF9F7;
  width: 220px;
  height: 30px;
  padding: 14px 2px 14px 15px;
  margin-left: 20px;
  font-size: 30px;
  display: flex;
  flex-direction: row;
}

.arrow {
      display: flex;
      width: 15px;
      height: 15px;
      border-top: 3px solid #FAF9F7;
      border-right: 3px solid #FAF9F7;
      align-self: center;
      margin-left: 50px;
  }

.arrow-right {
      transform: rotate(45deg);
  }

.button_download:hover {
  box-shadow: 12px 10px 0 2px #FAF9F7, 12px 10px 0 4px #F24822;
  transition: .4s;
}

.button_download:hover .arrow {
  border-color:#F24822;
  transition: .4s;
}



.compilation_of_the_day {
  display: flex;
  width: 100%;
  height: 450px;
  margin-bottom: 50px;
  background-color: #231C1C;
  padding-top: 30px;
}

.text_block_compilation_of_the_day {
  color: #FAF9F7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48px;
  height: 450px;
  padding-right: 45px;
    margin-left: 50px;
}
.main_block2_text {
  display: flex;
  white-space: nowrap;
  font-size: 48px;
  transform: rotate(90deg);
}

.vr_line2 {
  display: flex;
  position: relative;
  top: -5%;
  left: 50%;
  border-left: #FAF9F7 3px solid;
  width: 1px;
  height: 50px;
}

.about_compilation_block {
    display: flex;
    position: relative;
    margin-right:300px;
    margin-left: 60px;
  width: 1000px;
}
.name_compilation_of_the_day {
  font-size: 40px;
  color: #4AC1F7;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 10px;
}

.list_book {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;

}

.image_book_compilation {
  height: 230px;
  width: 180px;
  box-shadow: -1px 1px 0 0px #FAF9F7,-8px 8px 0 0px #231C1C, 1px -1px 0 0px #FAF9F7, -9px 9px 0 0px #FAF9F7 ;

}

.image_book_compilation img {

  height: 230px;
  width: 180px;
  object-fit: cover;
}






.background_books {
  background-color: #231C1C;
  width:80%;
  height: auto;
  margin: 0 10%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

}

.frame_book {
  width: 490px;
  height: 250px;
  border: 1px solid black;
  background-color: #FAF9F7;
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.frame_book_photo {
  height: 210px;
  width: 150px;
  box-shadow: -1px 1px 0 0px #FAF9F7,-8px 8px 0 0px #231C1C, 1px -1px 0 0px #FAF9F7, -9px 9px 0 0px #FAF9F7 ;
}

.frame_book_photo img {
  height: 210px;
  width: 150px;
  object-fit: cover;
}

.about_book {
  margin-left: 10px;
}

.description_book_books {
  text-align: justify;
}

.name_book_books {
  font-size: 20px;
  color: #F24822;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 3px;
}

.author_book_books {
  color: #9F4636;
  margin-bottom: 6px;
}

.frame_author {
  width: 1100px;
  height: 260px;
  border: 1px solid black;
  background-color: #FAF9F7;
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.frame_author_photo {
  height: 250px;
  width: 180px;
  box-shadow: -1px 1px 0 0px #FAF9F7,-8px 8px 0 0px #231C1C, 1px -1px 0 0px #FAF9F7, -9px 9px 0 0px #FAF9F7 ;
  margin-left: 17px;
  margin-bottom: 20px;
}

.frame_author_photo img {
  height: 250px;
  width: 180px;
  object-fit: cover;
}
.name_author {
  font-size: 30px;
  color: #F24822;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 20px;
}

.about_author {
  text-align: justify;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  padding-right: 45px;
}
.description_author {
   text-align: justify;
}

.frame_genres {
  font-size: 60px;
  width: 500px;
  height: 80px;
  border-bottom: #FAF9F7 2px solid;
  color: #FAF9F7;

}